@keyframes move {
  0% {
    transform: translateY(0px) translateX(1000px);
  }
  50% {
    transform: translateY(0px) translateX(-1000px);
  }
  100% {
    transform: translateY(0) translateX(1000px);
  }
}
.navigation a {
  color: black;
  font-size: 1.2rem;
  margin: auto 0.25%;
  border: 1px outset silver;
  text-decoration: none;
}
.navigation a:hover {
  background: black;
  color: white;
}
.btmNav {
  text-align: center;
  margin: 2% auto;
}
.btmNav a {
  color: black;
  font-size: 2rem;
  margin: auto 0.25%;
  border: 1px outset silver;
  text-decoration: none;
  background: navy;
  color: white;
  padding: 0.1%;
  padding-left: 5%;
  padding-right: 5%;
}
.btmNav a:hover {
  background: red;
  color: white;
}
header {
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  overflow: hidden;
  text-shadow: 0 0 15px cadetblue, 0 0 15px blue;
}
header .US-header {
  position: absolute;
  height: 100%;
  background-image: linear-gradient(#4bd1a9, #effde4);
}
header .US,
header .AL,
header .AK,
header .AZ,
header .AR,
header .CA,
header .CO,
header .CT,
header .DE,
header .FL,
header .GA,
header .HI,
header .ID,
header .IL,
header .IN,
header .IA,
header .KS,
header .KY,
header .LA,
header .ME,
header .MD,
header .MA,
header .MI,
header .MN,
header .MS,
header .MO,
header .MT,
header .NE,
header .NV,
header .NH,
header .NJ,
header .NM,
header .NY,
header .NC,
header .ND,
header .OH,
header .OK,
header .OR,
header .PA,
header .RI,
header .SC,
header .SD,
header .TN,
header .TX,
header .UT,
header .VT,
header .VA,
header .WA,
header .WV,
header .WI,
header .WY {
  position: absolute;
  height: 150px;
  width: 4700px;
  animation: move 100s infinite linear;
  will-change: transform;
  opacity: 1;
  margin-top: -3%;
}
header .header {
  z-index: 99;
  align-items: left;
  width: 400px;
  padding: 25px;
  margin-top: 12%;
  font-size: 1.175rem;
}
header .US {
  background-image: url("/img/US-maps.jpg");
}
header .AL {
  background-image: url("/img/AL.png");
}
header .AK {
  background-image: url("/img/AK.png");
}
header .AZ {
  background-image: url("/img/AZ.png");
}
header .AR {
  background-image: url("/img/AR.png");
}
header .CA {
  background-image: url("/img/CA.png");
}
header .CO {
  background-image: url("/img/CO.png");
}
header .CT {
  background-image: url("/img/CT.png");
}
header .DE {
  background-image: url("/img/DE.png");
}
header .FL {
  background-image: url("/img/FL.png");
}
header .GA {
  background-image: url("/img/GA.png");
}
header .HI {
  background-image: url("/img/HI.png");
}
header .ID {
  background-image: url("/img/ID.png");
}
header .IL {
  background-image: url("/img/IL.png");
}
header .IN {
  background-image: url("/img/IN.png");
}
header .IA {
  background-image: url("/img/IA.png");
}
header .KS {
  background-image: url("/img/KS.png");
}
header .KY {
  background-image: url("/img/KY.png");
}
header .LA {
  background-image: url("/img/LA.png");
}
header .ME {
  background-image: url("/img/ME.png");
}
header .MD {
  background-image: url("/img/MD.png");
}
header .MA {
  background-image: url("/img/MA.png");
}
header .MI {
  background-image: url("/img/MI.png");
}
header .MN {
  background-image: url("/img/MN.png");
}
header .MS {
  background-image: url("/img/MS.png");
}
header .MO {
  background-image: url("/img/MO.png");
}
header .MT {
  background-image: url("/img/MT.png");
}
header .NE {
  background-image: url("/img/NE.png");
}
header .NV {
  background-image: url("/img/NV.png");
}
header .NH {
  background-image: url("/img/NH.png");
}
header .NJ {
  background-image: url("/img/NJ.png");
}
header .NM {
  background-image: url("/img/NM.png");
}
header .NY {
  background-image: url("/img/NY.png");
}
header .NC {
  background-image: url("/img/NC.png");
}
header .ND {
  background-image: url("/img/ND.png");
}
header .OH {
  background-image: url("/img/OH.png");
}
header .OK {
  background-image: url("/img/OK.png");
}
header .OR {
  background-image: url("/img/OR.png");
}
header .PA {
  background-image: url("/img/PA.png");
}
header .RI {
  background-image: url("/img/RI.png");
}
header .SC {
  background-image: url("/img/SC.png");
}
header .SD {
  background-image: url("/img/SD.png");
}
header .TN {
  background-image: url("/img/TN.png");
}
header .TX {
  background-image: url("/img/TX.png");
}
header .UT {
  background-image: url("/img/UT.png");
}
header .VT {
  background-image: url("/img/VT.png");
}
header .VA {
  background-image: url("/img/VA.png");
}
header .WA {
  background-image: url("/img/WA.png");
}
header .WV {
  background-image: url("/img/WV.png");
}
header .WI {
  background-image: url("/img/WI.png");
}
header .WY {
  background-image: url("/img/WY.png");
}
#footer {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5%;
}
.states {
  color: white;
  text-align: center;
  padding-bottom: 3%;
  text-shadow: 0 0 30px #000000;
  letter-spacing: 3px;
  line-height: 20px;
  margin: 2% auto;
  width: 85%;
}
.states a {
  color: white;
  font-size: 1.5rem;
  border: 3px outset white;
  align-content: center;
  line-height: 80px;
  border-radius: 20%;
  padding: 0.5%;
  text-decoration: none;
  margin: 2%;
}
.states .red {
  background: red;
}
.states .blue {
  background: navy;
}
.states .white {
  background: white;
  color: grey;
}
.Learn-Links {
  color: white;
}
#flipcard {
  margin: auto 3%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flip {
  perspective: 800px;
  -webkit-perspective: 800px;
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto 2%;
}
.flip .card.flipped {
  transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  text-align: center;
  line-height: 50px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  /*Front Face Style Formatting Below*/
  font-family: 'Lucida Grande', Helvetica, sans-serif;
  font-weight: 20;
  color: #ffffff;
  font-size: 50px;
  text-shadow: 1px 1px 1px #2D383A;
  background-color: #4A646C;
  background: -webkit-linear-gradient(red, maroon);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, maroon);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, maroon);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, maroon);
  /* Standard syntax */
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0px 0px 0px 4px #ECECEC;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0px 0px 0px 4px #ECECEc;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0px 0px 0px 4px #ECECEC;
}
.flip .card .back {
  transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  cursor: pointer;
  /*Back Face Style Formatting Below*/
  font-family: 'Lucida Grande', Helvetica, sans-serif;
  font-weight: 20;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 30px;
  text-shadow: 1px 1px 1px black;
  background-color: black;
  background: -webkit-radial-gradient(navy, blue);
  /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(navy, blue);
  /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(navy, blue);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(navy, blue);
  /* Standard syntax */
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0px 0px 0px 4px #ECECEC;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0px 0px 0px 4px #ECECEC;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0px 0px 0px 4px #ECECEC;
}
