//Main Page//
header {
    position: relative;
	display: flex !important;
	flex-direction: column;
	justify-content: space-evenly;
	height: 220px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	overflow: hidden;
	text-shadow: 0 0 15px cadetblue, 0 0 15px blue;

    
    .US-header {
        position: absolute;
        height: 100%;
        background-image: linear-gradient(#4bd1a9, #effde4); 
    }

    .US, .AL, .AK, .AZ {
        position: absolute;
        height: 150px;
        width: 4700px;        
        animation: move 100s infinite linear;
        will-change: transform;
        opacity: 1;
        margin-top: -3%;
    }

    .header{
        z-index: 99;
        align-items: left;
        width: 400px;
        padding: 25px; 
        margin-top: 12%; 
        font-size: 1.175rem;
    }

    .US {
       background-image: url("/img/US-maps.jpg"); 
    }
    .AL{
        background-image: url("/img/AL.png");
    }
    .AK{
        background-image: url("/img/AK.png");
    }
    .AZ{
        background-image: url("/img/AZ.png");
    }
} 