.navigation {
    

    a{
     color: black; 
     font-size: 1.2rem; 
     margin: auto 0.25%; 
     border: 1px outset silver;
     text-decoration: none;

    }
    a:hover {
         background: black;
         color: white;
     }
    
}

.btmNav {
    text-align: center;
    margin: 2% auto;
    
    a{
        color: black; 
        font-size: 2rem; 
        margin: auto 0.25%; 
        border: 1px outset silver;
        text-decoration: none;
        background: navy;
        color: white;
        padding: 0.1%;
        padding-left: 5%;
        padding-right: 5%;
   
       }
       a:hover {
            background: red;
            color: white;
        }
}